@model BoardGame

<div>
    <div>
        Name: @Model.Name
        Genre: @Model.Genre.ToString()
        Players: @Model.MinPlayers - @Model.MaxPlayers
        Description: @Model.Description
    </div>
</div>
<div>
    <!--List all sessions of this particular game-->
</div>