@model BoardGame

<div>
    <div>
        <h3>@Model.Name</h3>
        <div>Genre: @Model.Genre</div>
        <div>Players: @Model.MinPlayers - @Model.MaxPlayers</div>
        <div>Description: @Model.Description</div>
    </div>
    <div>
        <a class="btn btn-default" asp-controller="BoardGame" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        <a class="btn btn-default" asp-controller="BoardGame" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
        <a class="btn btn-default" asp-controller="BoardGame" asp-action="CreateSession" asp-route-id="@Model.Id">Add a session</a>
    </div>
</div>
<div>
    @if(Model.Sessions != null){
        foreach (Session s in Model.Sessions)
        {
        <div>
            <div>@s.Date.ToString()</div>
            <div>@s.Description</div>
        </div>
        }
    }
</div>
